<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ASP.Net Web API - Razor</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">ASP.Net Web API - Razor</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>Home</li>
                            <li>About</li>
                            <li>Contact</li>
                        
                            <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Examples</a>
                              <div id="guides" class="clear-fix" style="display: none;">
                                  <dl class="L">
                                    <dt>Start Here</dt>
                                    <dd><a href="getting_started.html">Getting Started with Rails</a></dd>
                                    <dt>Models</dt>
                                    <dd><a href="migrations.html">Rails Database Migrations</a></dd>
                                    <dd><a href="active_record_validations_callbacks.html">Active Record Validations and Callbacks</a></dd>
                                    <dd><a href="association_basics.html">Active Record Associations</a></dd>
                                    <dd><a href="active_record_querying.html">Active Record Query Interface</a></dd>
                                    <dt>Views</dt>
                                    <dd><a href="layouts_and_rendering.html">Layouts and Rendering in Rails</a></dd>
                                    <dd><a href="form_helpers.html">Action View Form Helpers</a></dd>
                                    <dt>Controllers</dt>
                                    <dd><a href="action_controller_overview.html">Action Controller Overview</a></dd>
                                    <dd><a href="routing.html">Rails Routing from the Outside In</a></dd>
                                  </dl>
                                  <dl class="R">
                                    <dt>Digging Deeper</dt>
                                    <dd><a href="active_support_core_extensions.html">Active Support Core Extensions</a></dd>
                                    <dd><a href="i18n.html">Rails Internationalization API</a></dd>
                                    <dd><a href="security.html">Securing Rails Applications</a></dd>
                                    <dd><a href="debugging_rails_applications.html">Debugging Rails Applications</a></dd>
                                    <dd><a href="performance_testing.html">Performance Testing Rails Applications</a></dd>
                                    <dd><a href="configuring.html">Configuring Rails Applications</a></dd>
                                    <dd><a href="command_line.html">Rails Command Line Tools and Rake Tasks</a></dd>
                                    <dd><a href="asset_pipeline.html">Asset Pipeline</a></dd>
                                    <dt>Extending Rails</dt>
                                    <dd><a href="rails_on_rack.html">Rails on Rack</a></dd>
                                    <dd><a href="generators.html">Creating and Customizing Rails Generators</a></dd>
                                    <dt>Contributing to Ruby on Rails</dt>
                                    <dd><a href="contributing_to_ruby_on_rails.html">Contributing to Ruby on Rails</a></dd>
                                    <dd><a href="api_documentation_guidelines.html">API Documentation Guidelines</a></dd>
                                    <dd><a href="ruby_on_rails_guides_guidelines.html">Ruby on Rails Guides Guidelines</a></dd>
                                    <dt>Release Notes</dt>
                                    <dd><a href="3_2_release_notes.html">Ruby on Rails 3.2 Release Notes</a></dd>
                                    <dd><a href="3_1_release_notes.html">Ruby on Rails 3.1 Release Notes</a></dd>
                                    <dd><a href="3_0_release_notes.html">Ruby on Rails 3.0 Release Notes</a></dd>
                                    <dd><a href="2_3_release_notes.html">Ruby on Rails 2.3 Release Notes</a></dd>
                                    <dd><a href="2_2_release_notes.html">Ruby on Rails 2.2 Release Notes</a></dd>
                                  </dl>
                              </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">

            <section class="featured">
                @RenderSection("featured")
            </section>
        
            <section class="content-wrapper main-content clear-fix">
                
                 <aside id="toc">
                    <div id="toc-main">
                        <h3 id="toc-heading">Content</h3>
                        <ol id="toc-body">
                            @RenderSection("contentMenu")
                        </ol>
                    </div>
                </aside>

                @RenderBody()

            </section>

        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - .Net Guides</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <link rel="stylesheet" href="http://yandex.st/highlightjs/7.0/styles/default.min.css">
        <script src="http://yandex.st/highlightjs/7.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        
        <script type="text/javascript" src="/Scripts/guideIndex.js"></script>

    </body>
</html>
